/*
Theme Name: Supreme Directory
Theme URI: https://wpgeodirectory.com/downloads/supreme-directory/
Description: A Supreme Child Theme for Directory Starter, check out this video to see how easy it is to setup: https://www.youtube.com/watch?v=_MXfot6buMc
Author: GeoDirectory
Author URI: https://wpgeodirectory.com/
Template: directory-starter
Version: 2.0.0.9
License: GPLv2 or greater
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: supreme-directory
Tags: one-column, two-columns, three-columns, left-sidebar, right-sidebar, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/