/*
Theme Name:   Supreme Directory
Theme URI:    https://wpgeodirectory.com/downloads/supreme-directory/
Description:  Supreme Directory is a child theme of Directory Starter, check out this video to see how easy it is to setup: https://www.youtube.com/watch?v=_MXfot6buMc. Supreme Directory theme requires minimal setup, it features an eye catching home page design with a full screen featured area boosting parallax effect. Each page can be built using popular page builders.
Author:       AyeCode Ltd
Author URI:   https://ayecode.io
Template:     directory-starter
Version:      2.0.0.14
Requires at least: 4.0
Tested up to: 5.5
Requires PHP: 5.6
License:      GPLv2 or greater
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Tags:         one-column, two-columns, three-columns, left-sidebar, right-sidebar, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, translation-ready
Text Domain:  supreme-directory

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/