body{
  &.geodir-fixed-archive{

    overflow: hidden;

    .sd-container {

      .container {
        width: 100%;
        margin: 0;
        padding: 0;

        .entry-content {
          padding: 0 15px;
          float: left;
          padding-top: 10px !important;
          overflow-y: scroll;
          max-height: 90vh;
          -webkit-overflow-scrolling: touch;
        }

        .sd-sidebar {
          width: auto;
          overflow: hidden;
          float: none;
          .blog-sidebar {
            margin-top: 0;
          }
        }

        .sd-archive-resizer {
          border-radius: 20px;
          //border: 1px grey solid;
          width: 25px;
          height: 25px;
          top: 50vh;
          position: absolute;
          text-align: center;
          font-size: 20px;
          line-height: 22px;
          //background: #ccc;
          left: 784px;
          z-index: 99;

          i,svg{
            margin-left: -10px;
            vertical-align: top;
            margin-top: -4px;
          }
        }

      }

    }
  }

  &.post-type-archive.sd-left-sidebar, &.geodir-page-search.sd-left-sidebar{
    .sd-container{
      .container{

        .entry-content{
          float: none;
          width: auto;
          overflow-x: hidden;
        }

        .sd-sidebar{
          float: left;
          width: 24%;
          margin: 0;
        }

      }
    }
  }

  &.geodir-archive-locationless{
    .sd-container {
      .container {
        .entry-content {
          width:100% !important;
          #showMap{
            display: none;
          }
        }

        .sd-sidebar,.sd-archive-resizer{
          display: none;
        }

      }
    }
  }
}