header{
  .featured-area{

    &::before {
      background-color: black;
      bottom: 0;
      content: "";
      left: 0;
      opacity: 0.5;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
    }

    align-items: center;
    display: flex;
    min-height: 350px;
    flex-direction: column;
    padding: 32px 0;
    position: relative;
    text-align: center;

    &.type-title{
      min-height: 100px;
    }

    &.type-location{
      height: 100vh;
    }

    .featured-img {
      opacity:0;
      background-color: #f9f9f9;
      //background-color: #000000;
      background-position: 50% 20%;
      background-repeat: no-repeat;
      background-size: cover;
      border-bottom: 1px solid rgba(0, 0, 0, 0.075);
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
      overflow: hidden;

      -webkit-transition: opacity 0.5s ease-in-out;
      -moz-transition: opacity 0.5s ease-in-out;
      -o-transition: opacity 0.5s ease-in-out;
      transition: opacity 0.5s ease-in-out;
      &.sd-fade-in{
        opacity:1;
      }
    }

    // categories
    .geodir-categories-container{
      .gd-cptcats-select{
        display: none;
      }

      .gd-cptcat-title{
        display: none;
      }

      .gd-cptcat-rows{
        border: none;

        ul{
          width: auto;
          min-width: 100px;
          li{
            height: auto;
            background: rgba(0, 0, 0, 0.5) none repeat scroll 0 center;
            border-radius: 10px;

            opacity: 0.8;

            &:hover{
              opacity: 1;
            }

            .gd-cptcat-cat-left,.gd-cptcat-cat-right{
              display: block;
              width: 100%;

              a{
                padding: 0;
                color: #fff;
              }
            }

            .gd-cptcat-cat-left{
              border-radius: 10px;
              border-bottom-right-radius: 0;
              border-bottom-left-radius: 0;
            }

            a{
              .gd-cptcat-icon{
                i,svg{
                  width: auto;
                }
              }
            }
          }
        }
      }
    }


  }
}

//.single-gd_place .featured-area::before {
//  opacity: 0;
//}



//.sd-homepage .featured-area, .sd-location .featured-area {
//  height: 100vh;
//}
//
//.sd-homepage .container .featured-area, .sd-location .container .featured-area {
//  height: inherit;
//}
//
//.sd.single.geodir-page .featured-area, .sd.sd-preview .featured-area {
//  height: 65vh;
//  width: 100%;
//}

/* Archive page posts featured area */
header {
	.blog-featured-area {
		display: flex;
		min-height: 350px;
		padding: 32px 0;
		position: relative;
		text-align: center;
		flex-direction: column;
		align-items: center;

		.blog-featured-img {
			background-color: #f9f9f9;
			background-position: 100% 100%;
			background-repeat: no-repeat;
			background-size: cover;
			border-bottom: 1px solid rgba(0, 0, 0, 0.075);
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			overflow: hidden;
		}
	}
}